IndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  SplitEmptyFunction: false
AlignAfterOpenBracket: true
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
SortIncludes: false
